<% provide(:title, "Log in") %>

<h1>Log in</h1>
<div class ="login">
  <form action="/login">
    Email<br>
    <input type="text" name="email"><br>
    <p>
    
    </p>
    Password<br>
    <input type="password" name="pass"><br><br>
    <input type="submit" value="Log in">
  </form>
</div>
