<% provide(:title, "Log in") %>

<h1>Log in</h1>

<form action="/login">
  Email
  <input type="text" name="email"><br>
  Password
  <input type="text" name="pass"><br>
  <input type="submit" value="Submit">
</form>
